Repository kubernetes-sigs/kube-batch, pull requests merged in 2019-07, with the labels that each got.

#870 Support Both versions of PodGroup
  deployment/kube-batch/templates/scheduling_v1alpha2_podgroup.yaml
  hack/run-e2e-kind.sh
  pkg/scheduler/actions/allocate/allocate_test.go
  pkg/scheduler/actions/preempt/preempt_test.go
  pkg/scheduler/actions/reclaim/reclaim_test.go
  pkg/scheduler/api/job_info.go
  pkg/scheduler/api/pod_group_info.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/event_handlers.go
  pkg/scheduler/cache/interface.go
  pkg/scheduler/cache/util.go
  pkg/scheduler/framework/session.go
  pkg/scheduler/plugins/gang/gang.go
  pkg/scheduler/util/test_utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#871 Add v1alpha2 Version for queue
  config/crds/scheduling_v1alpha2_queue.yaml
  deployment/kube-batch/templates/scheduling_v1alpha2_queue.yaml
  hack/run-e2e-kind.sh
  pkg/apis/scheduling/v1alpha2/register.go
  pkg/apis/scheduling/v1alpha2/types.go
  pkg/apis/scheduling/v1alpha2/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/scheduling/v1alpha2/fake/fake_queue.go
  pkg/client/clientset/versioned/typed/scheduling/v1alpha2/fake/fake_scheduling_client.go
  pkg/client/clientset/versioned/typed/scheduling/v1alpha2/generated_expansion.go
  pkg/client/clientset/versioned/typed/scheduling/v1alpha2/queue.go
  pkg/client/clientset/versioned/typed/scheduling/v1alpha2/scheduling_client.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/scheduling/v1alpha2/interface.go
  pkg/client/informers/externalversions/scheduling/v1alpha2/queue.go
  pkg/client/listers/scheduling/v1alpha2/expansion_generated.go
  pkg/client/listers/scheduling/v1alpha2/queue.go
  pkg/scheduler/actions/allocate/allocate_test.go
  pkg/scheduler/actions/preempt/preempt_test.go
  pkg/scheduler/actions/reclaim/reclaim_test.go
  pkg/scheduler/api/queue_info.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/event_handlers.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#873 Add Unisound to who-is-using doc
  doc/usage/who-is-using.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#877 Remove the useless namespace
  doc/usage/tutorial.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#875 Cherry-Pick #306 from Volcano
  pkg/scheduler/api/node_info.go
  pkg/scheduler/api/node_info_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#879 Cut v0.5 Release
  CHANGLOG.md
  Makefile
  deployment/kube-batch/values.yaml
  doc/usage/tutorial.md
  test/kubemark/start-kubemark.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#886 Merge from master to release-0.5 branch
  CHANGLOG.md
  Makefile
  deployment/kube-batch/values.yaml
  doc/usage/tutorial.md
  pkg/scheduler/api/node_info.go
  pkg/scheduler/api/node_info_test.go
  test/kubemark/start-kubemark.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M
